body {
  background-color: #181818; 
  /* background-color: #282828;  */
}

p {
  color: white; 
}

a:link {
  color: teal;
  text-decoration: none;
}

a:visited {
  color:#3F00FF;
  text-decoration: none;
}
dl {
  color: white;
}
dt {
  color: #5D3FD3;
}
dd {
  font-size: small;
}

h1,
h2,
h3,
h6,
h7,
h8 {
  color: white;
}
h4 {
  color: aquamarine;
}
h5 {
  color: cornflowerblue;
}
.main {
  width: 50%;
  min-width: 500px;
  max-width: 1500px;
  /* text-align: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.webpagetopic {
  color: whitesmoke;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  align-items: center;
  line-height: 100px;
  height: 100px;
}
.avatar {
  float:right; 
  padding: 10px; 
  color: white; 
  text-align: center;
}

.personalInfoTopic,
.blogsTopic {
  font-size: large;
  color: white;
  opacity: 0.3;
  padding: 10px;
  text-align: center;
}
.personalInfoTopic {
  padding: 0px;
}

.infoPane {
  display: table;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
  width: 100%;
}
.mainTextPane {
  padding: 5px;
}

.tophorizontalline {
  border-top: 2px solid white;
  opacity: 0.1;
}
.horizontalline {
  border-top: 1px solid white;
  opacity: 0.1;
}
.stylishhorizontalfulline,
.stylishhorizontalline {
  border-top: 3px solid white;
  opacity: 0.1;
  width: 50%;
}
.stylishhorizontalfulline {
  width: 100%;
}
.verticalline {
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.time {
  padding: 8px;
  font-size: 13px;
  text-align: right;
  color: darkcyan;
}
