.main {
  width: 50%;
  min-width: 500px;
  max-width: 1500px;
  /* text-align: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.abstract {
  text-align: center;
  align-items: center;
  line-height: 100px;
  height: 100px;
}

h2 {
  position: relative;
  /* font-family: "Source Code Pro"; */
}

h2::before, 
h2::after {
  content: '';
  max-width: max-content;
  /* outline: 2px solid red; */
}

h2::before {
  background: teal;
}

.row {
  display: flex;

}
.infoPane {
  flex: 15%;
  padding: 10px;
  font-size: 11px;
}
.partitioner {
  flex: 5%;
  padding: 5px;
}
.mainTextPane {
  flex: 80%;
  padding: 5px;
}

.tophorizontalline {
  border-top: 1px solid black;
  opacity: 0.6;
}
.horizontalline {
  border-top: 3px solid black;
  opacity: 0.1;
  width: 50%;
}
.verticalline {
  border-left: 1px solid black;
  height: 100%;
  opacity: 0.3;
}
.time {
  padding: 8px;
  font-size: 13px;
  text-align: right;
}
